<div class="row contact">
    <div class="social-icons col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2">
        <ul class="inline center">
        	<li><a href="mailto:{{ site.email }}" title="E-mail me"><i class="fa fa-2x fa-envelope" aria-hidden="true"></i></a></li>
            <li><a href="{{ site.links.github }}" title="Follow me on Github"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a></li>
            <li><a href="{{ site.links.linkedin }}" title="Connect with me on LinkedIn"><i class="fa fa-2x fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="tel:{{ site.links.phone }}" title="Call me"><i class="fa fa-2x fa-phone-square" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>
